@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

:root{
  --font:'Roboto', sans-serif;
}



.nav{
    font-family: var(--font);
    position: fixed;
    top:30px;
    left: -60px;
    right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 213px;
    padding: 60px;
    /* display: none; */
}

.navHeaderDiv{
    margin-bottom: 16px;
}

.navMainDiv{
    font-size: 12px;
}

.navLi{
    line-height:16px ;
    padding: 5px;
    scroll-behavior: smooth;
}


/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}
  
  /* visited link */
  a:visited {
    color: black;
    text-decoration: none;
  }
  
  
  /* mouse over link */
a:hover {
    cursor: pointer;
    
  }
  .navLi:hover{
    border: 1px black solid;
    background-color: rgb(11, 11, 11);
    color: white;
    transition: 1s;
  }



 
  
  /* selected link */
  a:active {
    color: rgb(27, 27, 27);
  }


span{
    font-size: 9px ;
}

@media screen and (max-width: 1375px) {
  .nav{
    display: none;
  }
}